/*
Utiliza flex per tal de dissenyar el main (migt) i el primer aside (esquerre) i el segon i ultim aside (dreta), on el main content tindrà una amplada de 60% i la resta per l'aside.
*/
body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  main, aside, footer {
    box-sizing: border-box;
    padding: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    order: 0;
  }
  main {
    background: yellow;
    width: 60%;
    order:2;
  }
  aside:nth-of-type(1) {
    background: green;
    width: 20%;
    order:1;
    /*order: -1;*/
    
  }
  aside:nth-of-type(2) {
    background: red;
    width: 20%;
    order: 3;
   
  }
  
  footer{
    background: pink;
  }