body {
    background: #fff9f9
  }
  header, nav, main, sidebar, section, article, footer {
    display: block;
    border: 1px solid red;
    background: white;
    padding: 10px;
    
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box
  }
  
  .container{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 2%;
    grid-template-columns: 17% 60% 17%;
  }
  
  header{
    grid-row: 1 / 2;
    grid-column: 1/4;
  }
  
  nav{
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
  main{
    grid-row: 3/4;
    grid-column: 2/3;
    height: 500px;
  }
  
  sidebar{
    grid-row: 2/ span 2;
    grid-column: 1/2;
  }
  
  section{
    grid-row: 2/4;
    grid-column: 3/4;
  }
  footer{
    grid-row: 4/5;
    grid-column: 1/4;
  }